.box{
  color:white;
  font-size: 100px;
  text-align: center;
  /*text-shadow: 4px 4px 0 rgba(0,0,0,0.1)*/
  padding: 10px;
}

.box1{background-color: skyblue}
.box2{background-color: red}
.box3{background-color: green}
.box4{background-color: yellow}
.box5{background-color: brown}
.box6{background-color: purple}
.box7{background-color: blue}
.box8{background-color: grey}
.box9{background-color: darkgoldenrod}
.box10{background-color:salmon}

.container{
  padding: 0;
  margin: 0;
  list-style: none;
  /*inline-flex inline level container
    flex        block level container
  */
  display: flex;
  height: 100vh;
  
  flex-direction: row;
  flex-wrap: wrap;
  /*
  row, row-reverse, column, column-reverse  wrap nowrap wrap-reverse 
  flex-flow  shorthand
  */
  /*justify-content: space-around;*/
}