*{
  text-decoration: none;
  box-sizing:border-box;
}
body {
    
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color:#757575;
    background-color: #f5f5f5;
}
  
.header-top {
  height: 5.0625rem;
}

.img {
  max-size:100%;
}


.svg-logo {
  display: block;
  height: 1.75rem;
  width: 11.625rem;
  float: left;
  margin-top: 0.625rem;
  padding: 0.3125rem 0;
}
  
.select-container {
  position: relative;
  color: #757575;
  font-size: 1rem;
  padding: 0.125rem 0.9375rem 0.125rem 0.625rem;
  max-width: 16.25rem;
  display: block;
  float: left;
  margin: 0.9375rem 0 0 1.25rem;
}
  
.location-selector {
  color: #757575;
  font-size: 1rem;
  padding: 0.125rem 0.9375rem 0.125rem 0.625rem;
  width: 100%;
}
  
.navigation-container {
  float: right;
  height: 3.8125rem;
  margin-right: 1.9375rem;
  position: relative;
}
  
.dropdown {
  position: relative;
  display: inline-block;
  margin: 12px;
  text-decoration: none;
  color: #424242;
}
  
.top-menu-heading {
  color: #424242;
  line-height: 2rem;
  padding: 1rem 1rem 0.75rem 0.875rem;
  outline: none;
  text-decoration: none;
}
  
.dropdown a,
.dropdown a:visited {
  outline: none;
  text-decoration: none;
}
  
.dropdown:hover .top-menu-heading,
.top-menu-heading:hover {
  background: #f5f5f5;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  margin: 0;
  padding: 0.75rem 1.75rem 0.75rem 0.875rem;
  line-height: 2rem;
  color: #424242;
  display: block;
}
  
.dropdown-content a:hover {
  background: #dddddd;
  color: black;
}
  
.dropdown:hover .dropdown-content {
  display: block;
  background: #f5f5f5;
}
  
i {
  border: solid #424242;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0.225rem;
  margin: 0 1rem 0.25rem 1rem;
}
  
.arrow {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
  
.dropdown:hover .arrow {
  transform: rotate(-135deg);
}

.header__bg{
  display: none;
}

.header__text1{    
  margin-top: 120px;
  margin-left: 20px;
  color:rgb(99, 96, 96);
}

.header__text2{
  display: none;
}

.page-section{
  position: relative;
  top: 50px;
  clear: left;
  margin-left: 0px;
}
.page-section__title{
  display: none;
}

.grid-item__group{
  display: flex;
  flex-wrap: wrap;
}

.grid-item__large{
  /*
  display: block;
  */
  position: relative;
  border: 1px;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
  transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
  background-color: #fff;
  margin: 10px;
}

.grid-item__large img{
  width: 100%;
  filter: brightness(70%);
  z-index: -1;
}

.grid-item__large .card__text{
  position: absolute;
  top: 50%;
  bottom: 5%;
  left: 5%;
  padding-right: 20px;
  max-width: 100%;
  color: #fff;
  text-align: left;
  line-height: 1.4;
  font-size: 18px;
  font-weight: bold;
}

.grid-item__small{
  position: relative;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
  transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
  background-color: #fff;
  margin: 10px;
  border: 1px solid black;
}

.grid-item__small a {
  display:flex;
}

.grid-item__small img{
  max-width:130px;
  min-width:85px;
  max-height:107px;
  margin:auto;
}

.grid-item__small .card__text{
  position: relative;;
  color: grey;
  max-width: 100%;  
  width:70%;
}

/*TAKE A DEEPER DIVE SECTION START*/

.icon{
  max-width: 20px;
}

.navigation_section {width:100%;}

.navigation_list{
  list-style: none;
  margin-left: 0px;
  padding: 0px;
}

.navigation_item{
  line-height: 2rem;
}

/*TAKE A DEEPER DIVE SECTION END*/

.tools-group{
  display: flex;
  flex-wrap: wrap;
}

.grid-item__tools{
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.11);
  transition: box-shadow .2s cubic-bezier(.4,0,.2,1);
  background-color: #fff;
  max-width: 100%;
  margin: 10px;
  width:100%;
}

.grid-item__tools a {display:flex;}

.card__image img{
 width:100%; 
}

.grid-item__tools .card__text {
  width:67%;
  color: #757575;
  padding:0px 12px;
}

.card__image {
  margin:auto;
  width:33%;
}

.grid-item__tools .card__footer{
  font-weight: bold;
  color: blue;
}

.tools-button{
  position: relative;
  display: inline-block;
  margin-left: 42%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#3367d6;
  color:white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 12px;
}

.subscribe-inline{
  position: relative;
  height: 240px;
  box-sizing: border-box;
  background-color:#3367d6;
  color: white; 
  margin: 80px 0px 1px 0px;
  padding: 36px 12px;
}

.subscribe-inline__box{
  background-color: white;
  color: #3367d6;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 12px ;
  font-size: 14px;
}

.global-footer-nav{
  position: relative;
  height: 120px;
  background-color:#3367d6;
  padding-top: 24px;
  padding-left: 24px;
}

.global-footer-nav a{
  color: white;
  padding:12px;
}

@media (max-width: 990px) and (min-width:601px) {

  .grid-item__large{
    width: calc(100% - 20px);
  }

  .grid-item__small{
    width: calc(100% / 2 - 20px);

  }

  .grid-item__small a {
    display:block;
    text-align: center;
  }

  .grid-item__small .card__text {
    width:100%;
  }

  .card__image img {
    max-width:none;
    max-height: none;
    width:100%;
  }

  .grid-item__tools{
    width: calc(100% / 2 - 20px);
  }

  .navigation_section {
    float:left;
    width:50%;
  }

  .grid-item__tools a {display:block;}

  .grid-item__tools .card__text {
    width:100%;
  }
  
  .card__image {
    margin:auto;
    width:100%;
  }

  .subscribe-inline{
    padding-left: 10%;
    padding-right: 30%;
  }

}

@media (min-width: 991px) {

  .header__bg{
    display: block;
    height: 400px;
    width: 100%;
    position: absolute;
    top:50px;
    z-index: -1;
  }

  .header__text1{    
    margin-left: 100px;
  }

  .header__text2{
    display: block;
  }

  .header__text-left{
    margin-left: 100px;
    font-size: 18px;
    margin-top: 30px;
  }

  .subscribe-button {
    display: inline-block;
    background-color:#3367d6;
    color:white;
    margin-top: 10px;
    border-radius: 3px;
    padding: 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .header__text-right{
    float: right;
    margin-top: -60px;
    margin-right: 40px;
    font-weight: 500;
    color: blue;
    line-height: 1.6;
  }

  .navigation_sections {
    display:flex;
    
  }

  .navigation_section {
    width:calc(100% / 3);
  }

  .page-section__title{
    display: block;
    margin-left: 10px;
  }

  .grid-item__large{
    width: calc(100%/2 - 20px);
  }

  .grid-item__small{
    width: calc(100%/4 - 20px);
  }

  .grid-item__tools{
    width:calc(25% - 20px);
  }

  .card__image img {
    max-width:none;
    max-height: none;
    width:100%;
  }

  .grid-item__small a {
    display:block;
    text-align: center;
  }

  .grid-item__small .card__text {
    width:100%;
  }

  .grid-item__tools a {display:block;}

  .grid-item__tools .card__text {
    width:100%;
  }
  
  .card__image {
    margin:auto;
    width:100%;
  }

  .subscribe-inline{
    padding-left: 10%;
    padding-right: 30%;
  }
}




